*{
	margin: 0px;
	padding: 0px;

}
:root {
	--cor-fundo:rgba(142, 226, 238, 0.22);
	--cor-fundo1:white;
}
body {
	background: var(--cor-fundo);
	width: 1518px;
}

header{
	position: absolute;
	width: 100%;
	height: 120px;
	background: linear-gradient(180deg, #28D3EB 0%, rgba(53, 149, 219, 0.51) 100%);
	margin-top: 0px;	
}
.txt1{
	position: absolute;
	width: 512px;
	height: 97px;
	margin-top: -50px;
	margin-left: 499px;
	text-align: center;
}
.vid{
	box-sizing: border-box;
	position: absolute;
	width: 1350px;
	height: 846px;
	left: 48px;
	top: 147px;
	background: #FFFFFF;
	border: 1px solid #23CAE1;
	border-radius: 37px;
}