*{
	margin: 0px;
	padding: 0px;

}
:root {
	--cor-fundo:rgba(142, 226, 238, 0.22);
	--cor-fundo1:white;
}
body {
	background: var(--cor-fundo);
	width: 100%;
	margin-top: 0px;
}

header{
	position: absolute;
	width: 100%;
	height: 120px;
	background: linear-gradient(180deg, #28D3EB 0%, rgba(53, 149, 219, 0.51) 100%);
	margin-top: -16px;	
}
.txt1{
	position: absolute;
	width: 512px;
	height: 97px;
	margin-top: -50px;
	margin-left: 499px;
	text-align: center;
}
.centro{
	position: absolute;
	background: var(--cor-fundo1);
	width: 1019px;
	height: 5500px;
	margin-left: 398px;
	margin-top: 140px;
	padding-bottom: 50px;
}
.titulo1{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	position: absolute;
	margin: 25px 30px;
	width: 512px;
	height: 55px;
}
.corpo1{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	width: 576px;
	height: 163px;
	margin: 75px 30px;
	text-align: justify;
}
.img2{
	position: absolute;
	width: 308px;
	height: 320px;
	left: 1078px;
	top: 149px;
}
.sub1{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	position: absolute;
	margin: -90px 30px;
	width: 549px;
	height: 45px;
}
.corpo2{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 610px;
	height: 76px;
	margin: -45px 30px;
	text-align: justify;
	position: absolute;
}
.img3{
	position: absolute;
	width: 912px;
	height: 428px;
	left: 447px;
	top: 520px;
}
.sub2{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 528px 30px;
	position: absolute;
	width: 110px;
	height: 43px;
}
.corpo3{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 906px;
	height: 98px;
	margin: 578px 30px;
	text-align: justify;
	position: absolute;
}
.img4{
	position: absolute;
	width: 755px;
	height: 474px;
	left: 447px;
	top: 1110px;
}
.corpo4{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 906px;
	height: 98px;
	margin: 1150px 30px;
	text-align: justify;
	position: absolute
}
.sub3{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 1250px 30px;
	position: absolute;
	width: 110px;
	height: 43px;
}
.corpo5{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 912px;
	height: 157px;
	margin: 1290px 30px;
	text-align: justify;
	position: absolute
}
.img5{
	position: absolute;
	width: 911px;
	height: 446px;
	left: 447px;
	top: 1900px;
}
.sub4{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 1920px 30px;
	position: absolute;
	width: 110px;
	height: 43px;
}
.corpo6{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 912px;
	height: 157px;
	margin: 1965px 30px;
	text-align: justify;
	position: absolute
}
.sub5{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 2100px 30px;
	position: absolute;
	width: 245px;
	height: 41px;
}
.corpo7{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 912px;
	height: 157px;
	margin: 2150px 30px;
	text-align: justify;
	position: absolute
}
.img6{
	position: absolute;
	width: 912px;
	height: 422px;
	left: 447px;
	top: 2725px;
}
.sub6{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 2700px 30px;
	position: absolute;
	width: 245px;
	height: 41px;
}
.corpo8{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 912px;
	height: 157px;
	margin: 2750px 30px;
	text-align: justify;
	position: absolute
}
.img7{
	position: absolute;
	width: 910px;
	height: 420px;
	margin: 3450px 457px;
}
.sub7{
	position: absolute;
	width: 247px;
	height: 40px;
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 3450px 30px;
}
.corpo9{
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 925px;
	height: 168px;
	margin: 3495px 30px;
	text-align: justify;
	position: absolute
}
.img8{
	position: absolute;
	width: 925px;
	height: 406px;
	left: 447px;
	top: 4100px;
}
.sub8{
	position: absolute;
	width: 931px;
	height: 64px;
	color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	margin: 4105px 30px;
}
.img9{
	position: absolute;
	width: 785px;
	height: 524px;
	left: 447px;
	top: 4695px;
}
.a1{
	position: absolute;
	margin: 5273px 447px;
	font-size: 22px;
    color: black;
}
.bot1{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	position: relative;
	width: 939px;
	height: 118px;
	margin-left: 28px;
	top: 4890px;
	background: rgba(40, 211, 235, 0.8);
	border-radius: 8px;
}
.textbt{
	position: absolute;
	width: 584px;
	height: 129px;
	color: white;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	margin: 25px ;
}
button{
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	position: absolute;
	width: 340px;
	height: 93px;
	background: #B5F2FB;
	border: 1px solid #19BED6;
	border-radius: 8px;
	margin-left: 582px;
	margin-top: 11px;
}
.div1{
	margin-top: 15px;
	width: 100%;
	height: 50px;
	background: var(--cor-fundo);
}