*{
	margin: 0px;
	padding: 0px;

}
:root {
	--cor-fundo:rgba(142, 226, 238, 0.22);
	--cor-fundo1:white;
}
body {
	background: var(--cor-fundo);
	width: 1518px;
}

header{
	position: absolute;
	width: 100%;
	height: 120px;
	background: linear-gradient(180deg, #28D3EB 0%, rgba(53, 149, 219, 0.51) 100%);
	margin-top: 0px;	
}
.txt1{
	position: absolute;
	width: 512px;
	height: 97px;
	margin-top: -50px;
	margin-left: 499px;
	text-align: center;
}
.titulo1{
	position: absolute;
	width: 227px;
	height: 53px;
	left: 36px;
	top: 31px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: #000000;
}
.vid{
	box-sizing: border-box;
	position: absolute;
	width: 1350px;
	height: 866px;
	left: 48px;
	top: 147px;
	background: #FFFFFF;
	border: 1px solid #23CAE1;
	border-radius: 37px;
}
video{
	position: absolute;
	width: 1231px;
	height: 676px;
	margin-top: 111px;
	margin-left: 34px;
}
.div2{
  box-sizing: border-box;
  position: absolute;
  width: 1350px;
  height: 800px;
  left: 48px;
  top: 1076px;
  background: #FFFFFF;
  border: 1px solid #23CAE1;
  border-radius: 37px;
}
.quest1{
  position: absolute;
  width: 166px;
  height: 46px;
  left: 40px;
  margin-top: 32px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}
.corpo1{
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: 1275px;
  height: 103px;
  left: 74px;
  margin-top: 85px;
  font-size: 22px;
}

.agrd{
  position: absolute;
  width: 932px;
  height: 59px;
  font-family: 'Inter';
  font-size: 22px;
  line-height: 27px;
  margin-top: 176px;
  margin-left: 363px;
  text-align: right;
}
.pgt1{
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: 1275px;
  height: 103px;
  left: 74px;
  margin-top: 266px;
  font-size: 22px;

 }
 form{
 	font-family: 'Playfair Display', serif;
  position: absolute;
  width: 1275px;
  height: 103px;
  left: 74px;
  font-size: 25px;
  padding-inline: 15px;
  margin-top: 323px;
 }
 .bto1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  position: relative;
  width: 246px;
  height: 46px;
  background: rgba(40, 211, 235, 0.8);
  border-radius: 8px;
  margin-top: 13px;
    margin-left: 60px;
}
.exp1{
	margin-top: 537px;
    margin-left: 74px;
}